body {
    background-color: black;
    color: blue;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

header {
    background-color: lightblue;
    color: white;

}

h1 {

    color: #F6F6F6;

    /* H1 */
    /* font-family: "Krona One"; */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 155.556% */

}

strong {

    color: #22D4FD;
    /* H1 */
    /* font-family: "Krona One"; */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;   
}

.botão-1 {
    background-color: green;
    color: white;
    border-radius: 16px;
    border: 0px solid #22D4FD;
    background: #22D4FD;
    
    display: flex;
    width: 280px;
    height: 79px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0; 
}

.botão-2 {
    background-color: rgb(38, 0, 128);
    color: white;
    border-radius: 16px;
    border: 0px solid #3b22fd;
    background: #6722fd;
    
    display: flex;
    width: 280px;
    height: 79px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0; 
}

.botao-azul {
    background-color: blue;
    color: white;
}

.botao-verde {
    background-color: green;
    color: white;
}

