@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

/* Cabeçalho da Página */

.cabecalho{
    padding: 2% 0 0 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    
    display: flex;

    font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-decoration: none;  
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;

    /* Tamanho Fixado para que os Elementos não se desloquem com o Hover */

    width: 140px;
    height: 30px;
}

.cabecalho__menu__link:hover{

    font-size: 25px;
    color: #F6F6F6;
    cursor: pointer;

}

/* Corpo da Página */

.apresentacao{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__titulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

/* Botões */

.apresentacao__links__link{

    /* Alinhamento e Espaçamento do Icone com o Texto Botão */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    /* Desenho do Botão */
    border:solid 2px #F6F6F6;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    
    /* Texto do Botão */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #22D4FD;
}

.apresentacao__links__link:hover{

    font-size: 25px;
    padding: 21.5px 10px;
    cursor: pointer;
    color: #F6F6F6;
    background-color: #272727;
    border:solid 2px #22D4FD;
}

.rodape{
    
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 21.5px;
    font-weight: normal;
    background-color: #22D4FD;
    color: #000000;

}

span{
    font-style: italic;
}
